// Mixins in here
.flex(@direction, @justify, @align){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}
.nav {
    text-decoration: none;
    color: black;
    &:hover {
        background: black;
        color: white;
    }
}
.border {
    border-bottom: 2px dashed lightgrey;
}
.buttons {
    color: white;
    background: teal;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.8rem;
    cursor: pointer;
}
.animations(@ani-name, @duration) {
    animation-name: @ani-name;
    animation-duration: @duration;
    animation-iteration-count: infinite;
}

    